# Cleaning MTA  Data Into Something Usable

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Makes data frames of corresponding week data.
# The data ends with the last day of the file name.

df1 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/june82019.txt')
df2 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/june12019.txt')
df3 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may252019.txt')
df4 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may182019.txt')
df5 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may112019.txt')
df6 = pd.read_csv('/Users/luken2/Documents/GitHub/project01/project1/data/may42019.txt')

In [3]:
# Creating Datetime column from date and time columns

df1['DATETIME'] = df1['DATE'] + ' ' + df1['TIME']
df2['DATETIME'] = df2['DATE'] + ' ' + df2['TIME']
df3['DATETIME'] = df3['DATE'] + ' ' + df3['TIME']
df4['DATETIME'] = df4['DATE'] + ' ' + df4['TIME']
df5['DATETIME'] = df5['DATE'] + ' ' + df5['TIME']
df6['DATETIME'] = df6['DATE'] + ' ' + df6['TIME']

In [4]:
df1['DATETIME'] = pd.to_datetime(df1['DATETIME'])
df2['DATETIME'] = pd.to_datetime(df2['DATETIME'])

In [5]:
df3['DATETIME'] = pd.to_datetime(df3['DATETIME'])
df4['DATETIME'] = pd.to_datetime(df4['DATETIME'])

In [6]:
df5['DATETIME'] = pd.to_datetime(df5['DATETIME'])
df6['DATETIME'] = pd.to_datetime(df6['DATETIME'])

In [7]:
# Getting rid of unnecessary columns

df1 = df1[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df2 = df2[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df3 = df3[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df4 = df4[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df5 = df5[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]
df6 = df6[['C/A', 'UNIT', 'SCP', 'STATION','DATE', 'ENTRIES', 'DATETIME']]

In [8]:
# Creating new column for day of the week using pandas datetime function

df1['DAY_OF_WEEK'] = df1['DATETIME'].dt.day_name()
df2['DAY_OF_WEEK'] = df2['DATETIME'].dt.day_name()
df3['DAY_OF_WEEK'] = df3['DATETIME'].dt.day_name()
df4['DAY_OF_WEEK'] = df4['DATETIME'].dt.day_name()
df5['DAY_OF_WEEK'] = df5['DATETIME'].dt.day_name()
df6['DAY_OF_WEEK'] = df6['DATETIME'].dt.day_name()

In [9]:
# Cleaning data.  Getting rid of outliers, capping top because if turnstiles
# over 1 million reset during a week it will look as if over 1 million 
# people run through certain stations and filtering this way 
# to avoid resetting turnstiles skewing data in general.
# Found that all turnstiles reset over 1 million so this works
# Cleaned out ~6% of total data

df1 = df1.loc[df1['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df2 = df2.loc[df2['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df3 = df3.loc[df3['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df4 = df4.loc[df4['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df5 = df5.loc[df5['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]
df6 = df6.loc[df6['ENTRIES'].apply(lambda x: x > 10000 and x < 1000000)]

In [10]:
# Getting values of entries on each day for each turnstile, Unit, C/A, 
# and Station by getting max value of entries each day in order to
# not double count Cumulative data

df1_sorted = df1.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df2_sorted = df2.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df3_sorted = df3.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df4_sorted = df4.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df5_sorted = df5.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df6_sorted = df6.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE', 'DAY_OF_WEEK'], as_index=False).max()
df1_sorted.head()

,C/A,UNIT,SCP,STATION,DATE,DAY_OF_WEEK,ENTRIES,DATETIME
0,A002,R051,02-06-00,59 ST,06/01/2019,Saturday,212683,2019-06-01 20:00:00
1,A002,R051,02-06-00,59 ST,06/02/2019,Sunday,213241,2019-06-02 20:00:00
2,A002,R051,02-06-00,59 ST,06/03/2019,Monday,214603,2019-06-03 20:00:00
3,A002,R051,02-06-00,59 ST,06/04/2019,Tuesday,216087,2019-06-04 20:00:00
4,A002,R051,02-06-00,59 ST,06/05/2019,Wednesday,217522,2019-06-05 20:00:00

In [11]:
# Grouping by Station and getting the max entry value for 
# each turnstile during a week
df1_max = df1_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()
df2_max = df2_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()
df3_max = df3_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()
df4_max = df4_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()
df5_max = df5_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()
df6_max = df6_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).max()

In [12]:
df2_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469 entries, 0 to 1468
Data columns (total 8 columns):
C/A            1469 non-null object
UNIT           1469 non-null object
SCP            1469 non-null object
STATION        1469 non-null object
DATE           1469 non-null object
DAY_OF_WEEK    1469 non-null object
ENTRIES        1469 non-null int64
DATETIME       1469 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 91.9+ KB

In [13]:
# Grouping by Station and getting the min entry value for 
# each turnstile during a week

df1_min = df1_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()
df2_min = df2_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()
df3_min = df3_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()
df4_min = df4_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()
df5_min = df5_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()
df6_min = df6_sorted.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], as_index=False).min()

In [14]:
df2_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469 entries, 0 to 1468
Data columns (total 8 columns):
C/A            1469 non-null object
UNIT           1469 non-null object
SCP            1469 non-null object
STATION        1469 non-null object
DATE           1469 non-null object
DAY_OF_WEEK    1469 non-null object
ENTRIES        1469 non-null int64
DATETIME       1469 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 91.9+ KB

In [15]:
# Getting net values for each turnstile during a week

df1_max['NET'] = df1_max['ENTRIES'] - df1_min['ENTRIES']
df2_max['NET'] = df2_max['ENTRIES'] - df2_min['ENTRIES']
df3_max['NET'] = df3_max['ENTRIES'] - df3_min['ENTRIES']
df4_max['NET'] = df4_max['ENTRIES'] - df4_min['ENTRIES']
df5_max['NET'] = df5_max['ENTRIES'] - df5_min['ENTRIES']
df6_max['NET'] = df6_max['ENTRIES'] - df6_min['ENTRIES']

In [16]:
# Getting rid of unnecessary columns

df1_discrete = df1_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])
df2_discrete = df2_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])
df3_discrete = df3_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])
df4_discrete = df4_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])
df5_discrete = df5_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])
df6_discrete = df6_max.drop(columns=['DATE', 'DAY_OF_WEEK', 'ENTRIES', 'DATETIME'])

In [17]:
# Summing each stations turnstiles for a total traffic value
# for each station

df1_discrete_by_station = df1_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df2_discrete_by_station = df2_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df3_discrete_by_station = df3_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df4_discrete_by_station = df4_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df5_discrete_by_station = df5_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df6_discrete_by_station = df6_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()

In [18]:
# sorting stations by highest net traffic

df1_discrete_by_station_top = df1_discrete_by_station.sort_values(by=['NET'], ascending = False)
df2_discrete_by_station_top = df2_discrete_by_station.sort_values(by=['NET'], ascending = False)
df3_discrete_by_station_top = df3_discrete_by_station.sort_values(by=['NET'], ascending = False)
df4_discrete_by_station_top = df4_discrete_by_station.sort_values(by=['NET'], ascending = False)
df5_discrete_by_station_top = df5_discrete_by_station.sort_values(by=['NET'], ascending = False)
df6_discrete_by_station_top = df6_discrete_by_station.sort_values(by=['NET'], ascending = False)

In [19]:
# Top 25 stations for each week
# Not necessary 
df1_discrete_by_station_top25 = df1_discrete_by_station_top.head(25)
df2_discrete_by_station_top25 = df2_discrete_by_station_top.head(25)
df3_discrete_by_station_top25 = df3_discrete_by_station_top.head(25)
df4_discrete_by_station_top25 = df4_discrete_by_station_top.head(25)
df5_discrete_by_station_top25 = df5_discrete_by_station_top.head(25)
df6_discrete_by_station_top25 = df6_discrete_by_station_top.head(25)

In [20]:
df5_discrete_by_station_top.head()

     UNIT          STATION     NET
30   R033   TIMES SQ-42 ST  859404
340  R461  B'WAY-LAFAYETTE  641734
347  R540     PATH NEW WTC  301884
365  R552   JOURNAL SQUARE  127506
9    R012   34 ST-PENN STA  126391

In [21]:
##### One dataframe for top stations of 6 weeks

DF = pd.concat([df1_discrete_by_station_top, df2_discrete_by_station_top, df3_discrete_by_station_top, df4_discrete_by_station_top, df5_discrete_by_station_top, df6_discrete_by_station_top], ignore_index=True)

In [22]:
DF.head()

   UNIT         STATION     NET
0  R540    PATH NEW WTC  725868
1  R462        CANAL ST  489304
2  R012  34 ST-PENN STA  312997
3  R552  JOURNAL SQUARE  110305
4  R551    GROVE STREET  101913

In [23]:
# DF['STATION'].value_counts()

In [24]:
DF_stations_mean = DF.groupby(['UNIT', 'STATION'], as_index=False).mean()

In [25]:
DF_Final = DF_stations_mean.sort_values(by=['NET'], ascending = False)
DF_Final_25 = DF_Final.head(25)
DF_Final_15 = DF_Final.head(15)

In [46]:
DF_Final_25.head()

     UNIT          STATION            NET
354  R540     PATH NEW WTC  372601.833333
30   R033   TIMES SQ-42 ST  164913.666667
9    R012   34 ST-PENN STA  156291.000000
347  R461  B'WAY-LAFAYETTE  150385.000000
371  R551     GROVE STREET  124164.166667

In [28]:
# Making csv file of top 25 stations for end april - mid june

DF_Final_25.to_csv('/Users/luken2/Documents/GitHub/project01/project1/data/May_June_top_25.csv',index=False)

In [29]:
# Used to find which units in stations had the most traffic

df1_discrete_by_unit = df1_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df2_discrete_by_unit = df2_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df3_discrete_by_unit = df3_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df4_discrete_by_unit = df4_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df5_discrete_by_unit = df5_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()
df6_discrete_by_unit = df6_discrete.groupby(['UNIT', 'STATION'], as_index=False).sum()

In [30]:
df1_discrete_by_unit.loc[df1_discrete_by_unit['STATION'] == 'CANAL ST']

     UNIT   STATION     NET
118  R139  CANAL ST   17442
251  R320  CANAL ST   21581
347  R462  CANAL ST  489304
348  R463  CANAL ST   44330